$color1:#0e1320;
$color2:#2d4366;
$color3:#4e6e8d;
$color4:#8ca2c1;
$color5:rgb(250,250,250);
$color6: gray;
$color7:rgba(185, 181, 181, 0.2);
$preto: rgb(20,20,20);
$border: 1px solid;
$box-shadow:0 0 5px 0 rgb(56, 55, 55);